<div class="player_body">

  <mat-card class="example-card" style="text-align: center;top: 55px;">
    <div class="temp">
      <img mat-card-image src="/assets/image/bg.jpg">
      <h2 class="temp1">Enter your name in the form</h2>
    </div>
    <br>
    <mat-card-title ></mat-card-title>
    <br>
    <mat-card-content style="text-align: center;">
  
          <mat-form-field   hideRequiredMarker appearance="outline"  >
              <mat-label >Player's Name</mat-label>
              <input ngModel ngNativeValidate style="align-content: center;" [(ngModel)]=player_name placeholder="Ex. Sajib" matInput required />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint align="end">Submit your name to play</mat-hint>
          </mat-form-field>
          <br>
          <br>
          <button mat-raised-button color="primary" (click)="goToGame()" [disabled]="!player_name">Submit</button>
          <br><br><br>
        <mat-progress-bar mode="indeterminate" style="width: 50%;left: 25%;"></mat-progress-bar>
  
  
    </mat-card-content>
  
  </mat-card>
  

  </div>
  

